WebContent/wsdl/calc_schema1.xsd

<xs:schema xmlns:tns="http://webservicetest/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservicetest/" version="1.0">

  <xs:element name="add" type="tns:add"/>

  <xs:element name="addResponse" type="tns:addResponse"/>

  <xs:complexType name="add">
    <xs:sequence>
      <xs:element name="arg0" type="xs:float"/>
      <xs:element name="arg1" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="addResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:float"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
